.card {
  display: flex;
  padding: 1rem;
  background-color: var(--very-light-gray);
  border-radius: 8px;
  width: 100%;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.user-details {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
}

.user-details > * {
  margin-right: 1rem;
}

.post-profile-picture {
  width: 2rem;
}

.user-name {
  color: var(--dark-blue);
  font-size: 16px;
}

.time-stamp {
  color: var(--grayish-blue);
  font-size: 16px;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 4px;
  width: 3rem;
  margin-right: 1rem;
}

.score-button {
  color: var(--grayish-blue);
}

.score-value {
  color: var(--moderate-blue);
}

.reply-button {
  color: var(--moderate-blue);
}

.text-content {
  color: var(--dark-blue);
}

.child-padding {
  padding-left: 1rem;
}
