.replies-container {
  border-left: 2px solid var(--grayish-blue);
  padding-left: 1rem;
  margin-left: 1rem;
}

.replies-container > .card {
  width: calc(100vw / 3 - 2rem);
}

@media screen and (max-width: 768px) {
  .replies-container {
    width: calc(100% - 1rem);
  }
}
